
body{
    margin: 0;
    border:0;
    padding: 0;
    background: url('./backgroundd.jpg');
}

#hello{
    position: absolute;
    top: 0;
    left: 1000;
    width: 200px;

}
.layar2{
    position: absolute;
    border-radius: 20px;
    background-color: #e6e6ff;
    width: 700px;
    height: 475px;
    top: 125px;
    left: 350px;
    box-shadow: 4px 4px 10px;
  
}
#foto{
    position: absolute;
    width: 250px;
    border-radius: 50%;
    top: 80;
    left: -90;

}
.content1{
    position: absolute;
    top: 0;
    left: 200;
}
#nama{
    font-family: monospace;
    font-size: 28;
    line-height: 0;
    font-weight: bold;

}
#npm{
    font-family: monospace;
    font-size: 14;
    font-weight: bold;
    top: 50;
    line-height: 0;
    color: maroon;
}
#deskripsi{
    position: absolute;
    text-align: justify;
    top: 20;
    left: 0;
    color: maroon;
    font-family: monospace;
    font-weight: bold;
    font-size: 14;
}
.aboutme{
    position: absolute;
    width: 450px;
    height: 125px;
    top: 70;
    left: 0;
}
#judul{
    position: absolute;
    top:0;
    left:0;
    font-family: serif;
    font-weight: bold;
}
.hobi{
    position: absolute;
    width: 450px;
    height: 100px;
    top : 220;
    left: 0;
}
#judul1{
    font-family: serif;
    font-weight: bold;
}
#hobi1{
    position: absolute;
    width: 80px;
    left: 40;

}
#hobi2{
    position: absolute;
    width: 110px;
    left: 190;
    top: 30;
    justify-self: center;
}
#hobi3{
    position: absolute;
    width: 60px;
    top: 60;
    left:370;
}
.socialmedia{
    position: absolute;
    width: 450px;
    height: 100px;
    top : 350;
    left: 0;
}
#fm{
    font-family: serif;
    font-weight: bold;

}
#sm1{
    position: absolute;
    width: 200px;
    top: 20;
    left: 0;

}
#sm2{
    position: absolute;
    width: 80px;
    top:30;
    left: 235;
}
#sm3{
    position: absolute;
    width: 120px;
    top:60;
    left:340;
}